/*Color pallette
pinks: 
#F9AABB --> #fed5dc 15% lighter --> #e46b85 25% darker
#fff1f3 --> pink off white

greys: 
#25242A
white

greens:
;

/*BODY*/
body {
    background-color: #F9AABB;
    float: center;
    font-family: 'Lucida Sans Regular', sans-serif;
}

div.intro, .banner, .section {
    border: solid #e46b85 2px;
    max-width: 900px;
    align-content: center;
    background-color: #25242A;
    margin: auto;
    padding: 20px;
    float: center;
    margin-bottom: 10px;
    height: auto;
}

div.banner {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.menu {
    border: solid #F9AABB;
    background-color: none;
    max-width: 30%;
    margin: auto;
}


.section {
    border-color: #25242A;
    background-color: white;
    position: relative;
    float: inline;

}

.container {
    /*border: solid black 2px; */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
}
.sidemenu {
    border: solid #F9AABB 2px;
    background-color: none;
    height: 100%;
    float: right;
    position: relative;
    align-self: right;
    margin-top: 4px;  /*to line up image and menu appropriately*/
}


/*TEXT FORMATTING*/
h1, h2, h3, p, a {
    color: #25242A;
    text-align: center;
}
h1.menu, h2.menu, p.menu, a.menu {
    color: white;
}

a {
    text-decoration: none;
    display: block;
}
.source {
    text-align: left;
}

a:hover {
    color: #e46b85;
}


/*IMAGE FORMATTING*/
/*Header and footer*/
img.main { 
    display: block;
    float: center;
    margin: auto;
    max-width: 100%;
}

/*Section formatting*/
img.side {
    float: left;
    margin: auto;
    max-width: 100%;
    height: 100%;
    border: solid #F9AABB 2px;
}






