/*Color pallette
pinks: 
#F9AABB --> #fed5dc 15% lighter --> #e46b85 25% darker
#fff1f3 --> pink off white

greys: 
#25242A
white

greens:
;

/*BODY*/
body {
    background-color: #F9AABB;
    float: center;
    font-family: 'Lucida Sans Regular', sans-serif;
}

div.intro, .banner, .section {
    border: solid #e46b85 2px;
    max-width: 900px;
    align-content: center;
    background-color: #25242A;
    margin: auto;
    padding: 20px;
    float: center;
    margin-bottom: 10px;
    height: auto;
}

div.banner {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.menu {
    border: solid #F9AABB;
    background-color: none;
    max-width: 30%;
    margin: auto;
}

.section {
    border-color: #25242A;
    background-color: white;
}
/*HEADINGS*/

h1, h2, h3, p, a {
    color: #25242A;
    text-align: center;
}
h1.menu, h2.menu, p.menu, a.menu {
    color: white;
}

a {
    text-decoration: none;
    display: block;
}

a:hover {
    color: #e46b85;
}

img {
    display: block;
    float: center;
    margin: auto;
    max-width: 100%;
}






